<script id="profileItemTmpl" type="text/x-jquery-tmpl">
	<a href="#"  class="list-group-item profileItem" data-number="${CustomerNumer}">
		<strong>${CustomerNumer}</strong> ${CustomerName}<span class="glyphicon glyphicon-chevron-right pull-right"></span>
	</a>
</script>

<script id="inboxDataTmpl" type="text/x-jquery-tmpl"> 
	<tr>
		<td class="table-row">${Message.Body}</td>
	</tr>
</script>

<script id="clientDataTmpl" type="text/x-jquery-tmpl">
	<tr>
		<td class="table-row">Titular del servicio: <strong>${Name}</strong></td>
	</tr>
	<tr>
		<td class="table-row">Tipo y N° de Documento: <strong>${DocumentType} ${DocumentNumber}</strong></td>
	</tr>
	<tr>
		<td class="table-row">Celular de Contacto: <strong>${Phone}</strong></td>
	</tr>
</script>

<script id="headerTracingDataTmpl" type="text/x-jquery-tmpl"> 
	<table class="table">
		<tr>
			<th class="table-row">Número</td>
			<th class="table-row">Descripción</td>
			<th class="table-row hidden-xs">Estado</td>
			<th class="table-row ">Creado</td>
		</tr>	
		<tbody></tbody>
	</table>
</script>

<script id="tracingDataTmpl" type="text/x-jquery-tmpl"> 
	<tr>
		<td>${IdGestion}</th>
		<td>${Nombre}</td>
		<td class="hidden-xs">${Estado}</td>
		<td>${FechaHoraCreacion}</td>
	</tr>
</script>

<script id="topAdsDataTmpl" type="text/x-jquery-tmpl"> 
	<div class="anuncio-top">
		<div class="proponi-title">
			${OfferProponi.NameOfferProponi}
		</div>
		<div class="proponi-img-product">
		  	<img width="145" height="108" src="${decodeURI(WebProponiImg)}" alt="${OfferProponi.NameOfferProponi}"/>
		</div>

		<div class="proponi-anuncio-precio">
		  	{{html MainPrice}}
		  	<div class="proponi-btn-comprar">
		   		<a href="#" class="btnPurchase" data-id="${OfferID}">
		      		<img src="http://micuenta.telecom.com.ar/References/Micuenta/images/gestion/btn-vermas.png" alt="comprar" />
		    	</a>
		  	</div>
		</div>

		{{html ShortDescription}}
	</div>
</script>

<script id="smallAdsDataTmpl" type="text/x-jquery-tmpl">
	<div class="anuncio-left">
    	<div class="proponi-title-short">${OfferProponi.NameOfferProponi}</div>
    
	    <div class="proponi-img-product">
	    	<img width="150" height="100" src="${decodeURI(WebProponiImg)}" alt="${OfferProponi.NameOfferProponi}"/>
	    </div>
	    <div class="proponi-anuncio-precio2">
	      	{{html MainPrice}}
	      
	      	<div class="proponi-texto-comprar">
	        	<a href="#" class="btnPurchase" data-id="${OfferID}">VER MÁS</a>
	      	</div>
	    </div>
  	</div>
</script>