<style>
	body{background-image: none;}
	#content{ background: url(images/nubes.png) repeat #93A3A4 !important;}

	#wrap{
		margin-right: 15px;
		margin-left: 15px;
	}
</style>
<div class="snap-drawer snap-drawer-left">
    <div>
        <h2 class="panel-title">Elige una opción...</h2>
        <br/>
        <div class="row">
			<div class="col-xs-12 col-sm-12">
				<table class="table" id="snap-menu">
					<tr>
						<td>
							<div class="menu-list-bullet-background img-circle text-center">
								<span class="glyphicon glyphicon-home bullet-gestion"></span>
							</div>
						</td>
						<td><a href="dashboard.html" class="text-muted">Home</a></td>
					</tr>
					<tr>
						<td>
							<div class="menu-list-bullet-background img-circle text-center">
								<span class="glyphicon glyphicon-list-alt bullet-gestion"></span>
							</div>
						</td>
						<td><a href="productsAndServices.html" class="text-muted">Productos y Servicios</a></td>
					</tr>
					<tr>
						<td>
							<div class="menu-list-bullet-background img-circle text-center">
								<span class="glyphicon glyphicon-usd bullet-gestion"></span>
							</div>
						</td>
						<td><a href="invoicesAndPayments.html" class="text-muted">Facturas y Pagos</a></td>
					</tr>
					<tr>
						<td>
							<div class="menu-list-bullet-background img-circle text-center">
								<span class="glyphicon glyphicon-tag bullet-gestion"></span>
							</div>
						</td>
						<td><a href="performManagement.html" class="text-muted">Realizar Gestiones</a></td>
					</tr>
					<tr>
						<td>
							<div class="menu-list-bullet-background img-circle text-center">
								<span class="glyphicon glyphicon-tags bullet-gestion"></span>
							</div>
						</td>
						<td><a href="monitoringEfforts.html" class="text-muted">Seguimiento de Gestiones</a></td>
					</tr>
					<tr>
						<td>
							<div class="menu-list-bullet-background img-circle text-center">
								<span class="glyphicon glyphicon-log-out bullet-gestion"></span>
							</div>
						</td>
						<td><a href="#" class="text-muted btn-logout">Cerrar Sesión</a></td>
					</tr>
				</table>
			</div>
		</div>
    </div>
</div>
