<script id="labelMessageErrorTmpl" type="text/x-jquery-tmpl"> 
	<span class="label label-danger">${message}</span>
</script>

<script id="alertTmpl" type="text/x-jquery-tmpl">
	<div class="alert alert-${typeClass} alert-dismissable" id="alert_${guid}" style="display:none;">
 		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  		<strong>Ops!</strong> ${message}
	</div>
</script>

<script id="blockquoteMessageTmpl" type="text/x-jquery-tmpl">
	<div class="row">
		<div class="col-xs-12 text-center">
			<blockquote>
			  	<p class="${typeClass}">Ops! ${message}</p>
			  	<footer>Toca <a href="#" class="${actionClass}">aquí</a> para volver a intentarlo.</footer>
			</blockquote>
		</div>
	</div>
</script>

<script id="blockquoteMessageWithOutActionTmpl" type="text/x-jquery-tmpl">
	<div class="row">
		<div class="col-xs-12 text-center">
			<blockquote>
			  	<p class="${typeClass}">Ops! ${message}</p>
			  	<footer>Intentalo nuevamente mas tarde.</footer>
			</blockquote>
		</div>
	</div>
</script>

<script id="loadingTmpl" type="text/x-jquery-tmpl"> 
	<div class="row" id="loading" style="display:none;margin:20px 0;">
		<div class="col-xs-12 text-center">
			<p class="text-info">
				<img src="images/loading.gif" alt="Cargando..."><br>
				Cargando...
			</p>
		</div>
	</div>
</script>