@font-face {
	font-family: 'RalewayRegular';
	src: url('../fonts/raleway-regular.eot');
	src: url('../fonts/raleway-regular.eot') format('embedded-opentype'),
	url('../fonts/raleway-regular.woff') format('woff'),
	url('../fonts/raleway-regular.ttf') format('truetype'),
	url('../fonts/raleway-regular.svg#RalewayRegular') format('svg');
}

@font-face {
	font-family: 'RalewayThin';
	src: url('../fonts/raleway-thin.eot');
	src: url('../fonts/raleway-thin.eot') format('embedded-opentype'),
	url('../fonts/raleway-thin.woff') format('woff'),
	url('../fonts/raleway-thin.ttf') format('truetype'),
	url('../fonts/raleway-thin.svg#RalewayThin') format('svg');
}

@font-face {
	font-family: 'RalewayExtraBold';
	src: url('../fonts/raleway-extrabold.eot');
	src: url('../fonts/raleway-extrabold.eot') format('embedded-opentype'),
	url('../fonts/raleway-extrabold.woff') format('woff'),
	url('../fonts/raleway-extrabold.ttf') format('truetype'),
	url('../fonts/raleway-extrabold.svg#RalewayExtraBold') format('svg');
}

@font-face {
	font-family: 'LibreBaskervilleItalic';
	src: url('../fonts/librebaskerville-italic.eot');
	src: url('../fonts/librebaskerville-italic.eot') format('embedded-opentype'),
	url('../fonts/librebaskerville-italic.woff') format('woff'),
	url('../fonts/librebaskerville-italic.ttf') format('truetype'),
	url('../fonts/librebaskerville-italic.svg#LibreBaskervilleItalic') format('svg');
}

html{
  height: 100%;
}

body{
	background: url(../images/nubes.png) repeat #93A3A4 !important;
	font-family: Arial;
	overflow-x: hidden;
	height: 100%;
	padding: 0 15px !important;
}

small{
	color:#686859
}

h2{
	font-size: 18px; 
	color: #fff; 
	font-family: 'LibreBaskervilleItalic', Arial;
	padding: 20px 0;
	margin:0;
	color:#EBF0F1;
}

#wrap {
  	min-height: 100%;
  	height: auto;
  	margin: 0 auto -99px;
  	padding: 0 0 99px;
}

.page{
	display:none;
}

#header {
	background-color: #64757E;
	text-align: center;     
}

#header h1{
	font-size: 36px; 
	color: #fff; 
	padding: 5px 0 !important; 
	margin: 0 !important;
	font-family: 'RalewayThin', Arial;
}

#header .snap-button{
	font-size: 20px;
	display: inline-block;
	vertical-align: middle;
	margin-top: -10px;
}
#footer{
	height: 99px;
}

#footer .footer-back {
	height: 50px; 
	background: #B5C0C0;
}

#footer .footer-cloud {
	background: url(../images/nube-footer.png) center bottom no-repeat;
	height: 38px;
	margin-top: 10px;      
}

.institutional-cloud img, .institutional-cloud img{
	margin:0 auto;
}

.institutional-cloud {
	margin-bottom: 17px;
	padding-top: 30px;
}

.institutional-cloud-small {
	margin: 0 0 0 -110px;
	position: absolute;
	left: 100%;
	top: 5px;
}

.welcome  {
	height:50px; 
}    

span.welcome-title {
	font-size: 20px; 
	color: #EBF0F1; 
	font-family: 'LibreBaskervilleItalic', Arial;
	padding: 0;
	margin:0;
	text-align: center;
}

.welcome-line{
	border-top:1px solid #EBF0F1;
	margin-top:15px;
}

.panel-body{
	background-color: #ECF0F1 !important; 
}

.panel-heading {
	background-color: #3498DB !important;
	border-color: #3498DB !important;
}

.input-group {
	margin-bottom: 20px;
}

.panel-title {
	font-family:'RalewayRegular', arial;
	font-size: 20px; 
	color: #fff !important;
}

#errorMessage{
	margin:0 0 10px 0;
}

.detail {
	padding-top:20px;border-top: 2px dotted #ccc;
}

.hidden {
	visibility:hidden;
}

.btn {
	font-family: 'RalewayExtraBold', Arial;
	text-transform: uppercase;
}

.list-bullet-background, .menu-list-bullet-background{
	background-color: #4A97CF;
	display: inline-block;
	font-size: 14px;
	height: 28px;
	line-height: 31px;
	vertical-align: text-bottom;
	width: 28px;
}

.menu-list-bullet-background{
	background-color: #FFF;
}

.gestion .panel-heading{
	background-color: #006DBC !important;
	border-color: #006DBC !important;
	padding: 5px 15px;
}

#snap-menu td{ vertical-align: middle; }
#snap-menu td a{ text-decoration: none; }
#snap-menu tr:hover, #snap-menu td a:hover{ color: #FFF; }

.snap-content .items {
	font-size: 14px; 
	color: #000 !important; 
	padding: 10px 0 !important; 
	margin: 0 !important;
	font-family: 'RalewayThin', Arial;
	border-bottom:1px solid #ccc;
}
.snap-content .table-row{
	padding-left: 20px !important;
	padding-right: 20px !important;
}
.snap-content .center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.snap-content .table{ margin-bottom: 0 !important; }
.snap-content .panel-body{ padding: 0 !important; }
.snap-content p.items span { color: #000; }
.snap-content .impaga{ color: red; }
.bullet-gestion{ color:black; }